<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <style>
        div {
          background-color: lightgrey;
          width: 85%;
          border: 15px solid black;
          padding: 50px;
          margin: 20px;
        }
    </style>

</head>
<body>

<div>Pizza</div>
<div><font size="20">Breadsticks</font> <center><font size="15">7.99</center></font></div>
<div><font size="20">Pasta</font> <center><font size="15">10.99</center></font></div>
<div><font size="20">Wings</font> <center><font size="15">10.99</center></font></div>
<div><font size="20">Garlic Bread</font> <center><font size="15">5.99</center></font></div>
<div><font size="20">Mozzarella Sticks</font> <center><font size="15">3.99</center></font></div>
<div><font size="20">Fries</font> <center><font size="15">3.99</center></font></div>
<div><font size="20">Salad</font> <center><font size="15">9.99</center></font></div>
<div><font size="20">Coke</font> <center><font size="15">1.99</center></font></div>
<div><font size="20">Pepsi</font> <center><font size="15">1.99</center></font></div>




</body>
</html>