<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <style>
        div {
          background-color: lightgrey;
          width: 85%;
          border: 15px solid black;
          padding: 50px;
          margin: 20px;
        }
    </style>

</head>
<body>

<center>

<form action = "http://127.0.0.1:5000/success" method = "POST">



{% for item in items %}
    <div><font size="20">{{ item.name }}</font> <center><font size="15">{{ item.price }}</font></center><input type = "text" name = "{{ item.itemid }}" /></div>
{% endfor %}

<hr size="10" color="black">

{% for pizza in pizzas %}
    <div><font size="20">{{ pizza.name }}</font> <center><font size="15">{{ pizza.price }}</font></center><input type = "text" name = "{{ pizza.itemid }}" /></div>
{% endfor %}


{% for topping in toppings %}
    <div><font size="20">{{ topping.name }}</font> <center><font size="15">{{ topping.price }}</font></center><input type = "text" name = "{{ topping.itemid }}" /></div>
{% endfor %}





             <p><input type = "submit" value = "submit" /></p>


</form>

</center>

</body>
</html>