<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <style>
        div {
          background-color: lightgrey;
          width: 85%;
          border: 15px solid black;
          padding: 50px;
          margin: 20px;
        }
    </style>

</head>
<body>


<form action = "http://127.0.0.1:5000/success" method = "POST">


<div>Pizza</div>




<div><font size="20">Pasta</font> <center><font size="15">10.99</center></font></div>

    <p>Bowls of Pasta <input type = "text" name = "Bowls Of Pasta" /></p>


<div><font size="20">Breadsticks</font> <center><font size="15">7.99</center></font></div>

    <p>Number of Breadsticks <input type = "text" name = "Number Of Breadsticks" /></p>


<div><font size="20">Wings</font> <center><font size="15">10.99</center></font></div>

    <p>Number of Wings <input type = "text" name = "Number Of Wings" /></p>


<div><font size="20">Garlic Bread</font> <center><font size="15">5.99</center></font></div>

    <p>Number of Garlic Bread <input type = "text" name = "Number Of Garlic Bread" /></p>


<div><font size="20">Mozzarella Sticks</font> <center><font size="15">3.99</center></font></div>

    <p>Number of Mozzarella Sticks <input type = "text" name = "Number Of Mozzarella Sticks" /></p>


<div><font size="20">Cheese Fries</font> <center><font size="15">6.99</center></font></div>

    <p>Number of Cheese Fries <input type = "text" name = "Number Of Cheese Fries" /></p>


<div><font size="20">Organic Salad</font> <center><font size="15">9.99</center></font></div>

    <p>Number of Organic Salad <input type = "text" name = "Number Of Organic Salad" /></p>


<div><font size="20">Coke</font> <center><font size="15">1.99</center></font></div>

    <p>Number of Coke <input type = "text" name = "Number Of Coke" /></p>


<div><font size="20">Fanta</font> <center><font size="15">1.99</center></font></div>

    <p>Number of Fanta <input type = "text" name = "Number Of Fanta" /></p>


             <p><input type = "submit" value = "submit" /></p>
</form>


</body>
</html>